{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio discussion forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <style>
        .box{
            border: 4px solid black;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h2 class="jumbotron">
        <div class="d-flex justify-content-between" style="align-items:center"">
            <div class="d-flex justify-content-start">
                Currently active forums: {{count}}
            </div>
            <div class="d-flex justify-content-end">
                <form method="POST" action="{% url 'addInForum' %}">
                    {% csrf_token %}
                <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add more</button>
                </form>
            </div>
        </div>
    </h2>
    <section>

    </section>
</body>
</html>